*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color-dark: rgb(46, 47, 66);
  --color-pressed-states: #404bbf;
  --color-text: #434455;
  --color-primary-brand: #4d5ae5;
  --color-white-background: #ffffff;
  --color-light: #f4f4fd;
  --color-accent: #e7e9fc;
  --color-subtle-text: #8e8f99;
  --color-modal-overlay: #2e2f4266;
  --color-hero-background: #2e2f42;
  --color-modal-background: #fcfcfc;
  --color-success: #31d0aa;
  --trans: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--color-dark);
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--color-white-background);
  margin: 0;
}

.header {
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
}
.input {
  font-family: inherit;
}

address {
  font-style: normal;
  margin-left: auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 24px 16px;
  margin: 0 auto;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    flex-direction: row;
  }
}

.link-logo {
  color: var(--color-primary-brand);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  transition: var(--trans);
}

@media only screen and (min-width: 768px) {
  .link-logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .link-logo {
    margin-right: 76px;
    display: inline-block;
  }
}

.logo-part {
  color: var(--color-dark);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-list-link {
  position: relative;
  color: var(--color-dark);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: var(--trans);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--color-pressed-states);
  transition: var(--trans);
}

.current {
  color: var(--color-pressed-states);
}

.nav-list-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}

.nav-list-link.current::after {
  background-color: var(--color-pressed-states);
}

.nav-list-link:active {
  color: var(--color-pressed-states);
}

.contacts-list {
   display: none;
 
}

@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.contacts-list-link {
  color: var(--color-text);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: var(--trans);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--color-pressed-states);
  transition: var(--trans);
}

.mobile-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
}

@media only screen and (min-width: 768px) {
  .header .mobile-menu-button {
    display: none;
  }
}

.section-hero {
  max-width: 320px;
  margin: 0 auto;
  background-color: var(--color-dark);
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/darkbgmob1x.jpg);
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/darkbgmob2x.jpg');
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/darkbgtab1x.jpg');

    padding: 112px 0;

    min-width: 768px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/darkbgtab2x.jpg');
  }
}

@media only screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/darkbgdesc1x.jpg');
    padding: 188px 0;
    max-width: 1440px;
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/darkbgdesc2x.jpg');
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--color-white-background);
  background-color: var(--color-pressed-states);
}

.section-features {
  padding: 96px 0;
  background-color: var(--color-white-background);
}

@media only screen and (min-width: 1158px) {
  .section-features {
    padding: 120px 0;
  }
}

.features-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features-list {
  width: 100%;
  max-width: 288px;
  display: flex;
  gap: 72px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .features-list {
    max-width: 736px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
}

.features-icons {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid var(--color-subtle-text);
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    max-width: 1128px;
    gap: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .features-list-li {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .features-list-li {
    width: calc((100% - 72px) / 4);
  }
}

.features-list-title {
  color: var(--color-dark);
  font-family: inherit;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 768px) {
  .features-list-title {
    text-align: start;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-list-text {
  font-weight: 500;
  color: var(--color-text);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .features-list-text {
    font-weight: 400;
  }
}

.text-title {
  color: var(--color-dark);
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team {
  background-color: var(--color-light);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}
.team-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    max-width: 736px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 1158px;
  }
}

.team-list-li {
  background-color: var(--color-white-background);
  /* width: calc((100% - 3 * 24px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.social-team {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.social-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  fill: var(--color-light);
  background-color: var(--color-primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-team:hover,
.social-list-link-team:focus {
  fill: var(--color-light);
  background-color: var(--color-pressed-states);
}

.team-title-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  color: var(--color-dark);
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-title {
  color: var(--color-dark);
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-list-text {
  color: var(--color-text);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-portfolio {
  padding: 96px 0;
  background-color: var(--color-white-background);
}

@media only screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 360px;
  max-height: 300px;
}

@media (max-width: 767px) {
  .portfolio-img {
    width: 288px;
    height: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}

@media (min-width: 1158px) {
  .portfolio-img {
    width: 360px;
    height: 300px;
  }
}

.portfolio-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  max-width: 288px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    max-width: 1128px;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-list-li {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.portfolio-list-li:hover,
.portfolio-list-li:focus {
  color: var(--color-pressed-states);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-title {
  color: var(--color-dark);
  text-align: left;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: var(--color-text);
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-title-text {
  padding: 32px 16px;
  border-right: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  transform: translateY(100%);
  font-size: 16px;
  background-color: var(--color-primary-brand);
  color: var(--color-light);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  box-sizing: border-box;
}

.portfolio-list-li:hover .portfolio-overlay {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    text-align: start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    justify-content: space-between;
    flex-wrap: inherit;
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    margin-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo {
    margin-right: 120px;
    margin-left: 0;
  }
}
.link-logo-footer {
  color: var(--color-primary-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-footer {
  color: var(--color-light);
  display: inline-block;
}

.text-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 288px;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .text-footer {
    max-width: 264px;
  }
}

.social-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

@media only screen and (min-width: 768px) {
  .social-footer {
    align-items: flex-start;
  }
}

.text-social-footer {
  color: var(--color-white-background);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  fill: #f4f4fd;
  background-color: var(--color-primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  fill: #f4f4fd;
  background-color: var(--color-success);
}
.social-list-li {
  width: 40px;
  height: 40px;
}

.footer-subscribe-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-box {
    align-items: flex-start;
  }
}

.footer-subscribe-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 108px;
  }
}

.footer-subscribe-form input::placeholder {
  color: var(--color-subtle-text);
}

.subscribe-label {
  color: var(--color-white-background);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subscribe-label {
    margin-left: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.e-mail-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-white-background);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-white-background);
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .e-mail-input {
    width: 264px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .e-mail-input {
    opacity: 1;
  }
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 165px;
  height: 40px;
  color: var(--color-white-background);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--color-white-background);
  background-color: var(--color-pressed-states);
  transition: var(--trans);
}

.subscribe-icon {
  fill: var(--color-white-background);
  margin-left: 16px;
}

input::placeholder {
  color: var(--color-white-background);
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-top: 8px;
  padding-left: 16px;
}

input:hover::placeholder,
input:focus::placeholder {
  color: var(--color-primary-brand);
}

/* .order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-overlay);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
} */

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-overlay);
}
.order-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--color-modal-background);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--color-hero-background);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}

.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-title {
  color: var(--color-hero-background);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.order-form-input {
  margin-bottom: 8px;
}

.order-modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
  margin-bottom: 4px;
}

.order-modal-input {
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
}

.input-form:focus + .order-modal-icon {
  fill: #4d5ae5;
}

.order-form-input-textarea {
  margin-bottom: 16px;
}

.input-textarea {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-textarea:hover,
.input-textarea:focus {
  border-color: #4d5ae5;
}

textarea::placeholder {
  color: var(--color-subtle-text);
}
.order-form-agreement {
  margin-bottom: 24px;
}

.agreement-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
  gap: 8px;
}

.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: var(--color-white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

input[type='checkbox']:checked + label .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.agreement-link {
  color: var(--color-primary-brand);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration: underline;
}

.order-modal-button-send {
  color: var(--color-white-background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--color-primary-brand);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-button-send:hover,
.order-modal-button-send:focus {
  color: var(--color-white-background);
  background-color: var(--color-pressed-states);
}

.menu-toggle {
  min-height: 32px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 24px;
  right: 16px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .modal {
    width: 408px;
  }
}

.menu-toggle-icon{
  fill: var(--color-hero-background);
}
.menu-toggle-container:hover,
.menu-toggle-container:focus {
  color: var(--color-white-background);
  background-color: var(--color-pressed-states);
  transition: var(--trans);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;

  z-index: 999;

  background-color: var(--color-white-background);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle-container {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-link {
  color: var(--color-hero-background);
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--color-pressed-states);
  transition: var(--trans);
}

.current {
  color: var(--color-pressed-states);
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-top: 284px;
}

.mobile-contacts-phone-link {
  color: var(--color-primary-brand);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-contacts-email-link {
  color: var(--color-text);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mobile-contacts-phone-link:hover,
.mobile-contacts-phone-link:focus {
  color: var(--color-primary-brand);
  transition: var(--trans);
}
.mobile-contacts-email-link:hover,
.mobile-contacts-email-link:focus {
  color: var(--color-primary-brand);
  transition: var(--trans);
}
.mobile-social {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-list-li {
  width: 40px;
  height: 40px;
  background-color: var(--color-white-background);
}

.mobile-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  fill: var(--color-light);
  background-color: var(--color-primary-brand);
}
.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  fill: var(--color-light);
  background-color: var(--color-pressed-states);
  transition: var(--trans);
}
.menu-toggle-container {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--color-hero-background);
  background-color: var(--color-white-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
}